{% extends 'clone/base.html' %}
{% load static %}



{% block content %}

<div class="container">
    <div class="content">
        <div>
        
            
                
                <div class="card" style="width: 29rem;">
                    
                    <div class="status">
                        <div class="pt-3 pb-2 px-2">
                            <div>
                            <img class="img" src="{% static 'images/st1.jpeg' %}" alt="no image" srcset="">

                            </div>
                            <div>
                            <span>Malik</span>


                            </div>

                        </div>
                        <div class="pt-3 pb-2 px-1">
                            <div>
                            <img class="img" src="{% static 'images/st3.png' %}" alt="no image" srcset="">

                            </div>
                            <div>
                            <span>Ninja..</span>


                            </div>

                        </div>
                        <div class="pt-3 pb-2 px-1">
                            <div>
                            <img class="img" src="{% static 'images/str6.jpg' %}" alt="no image" srcset="">

                            </div>
                            <div>
                            <span>Johanne</span>


                            </div>

                        </div>
                        <div class="pt-3 pb-2 px-1">
                            <div>
                            <img class="img" src="{% static 'images/str7.jpg' %}" alt="no image" srcset="">

                            </div>
                            <div>
                            <span>Prudence</span>


                            </div>

                        </div>
                        <div class="pt-3 pb-2 px-1">
                            <div>
                            <img class="img" src="{% static 'images/str8.jpg' %}" alt="no image" srcset="">

                            </div>
                            <div>
                            <span>Harienaj..</span>


                            </div>

                        </div>
                       
                    </div>
                    
                </div>
            
           
        
        
    </div>
    <div class="sidebar">
        <div class="profile">
            <div>
                <img class="img2" src="{% static 'images/prof2.jpg' %}" alt="" srcset="">
            </div>
            <div class="pf2">
                <div class="usern">
                    <h5>oliver koech</h5>
                   <p class="text-muted">Oliver</p>
                </div>
                <div class="switch">
                    <a href="">Switch</a>
                </div>

                
            </div>
        </div>
        <div class="sugges">
            <p class="text-muted">Suggestions For You</p>
            <a href="">See All</a>
        </div>
    </div>
    </div>
</div>



  
{% endblock %}