{% extends 'clone/base.html' %}
{% load static %}



{% block content %}

<div class="container">
    <div class="content">
        <div>
        <div class="row">
            <div class="col-md-5">
                
                <div class="card">
                    <div class="status">
                        <div class="pt-3 pb-2 px-2">
                            <div>
                            <img class="img" src="{% static 'images/st1.jpeg' %}" alt="no image" srcset="">

                            </div>
                            <div>
                            <span>Malik</span>


                            </div>

                        </div>
                        <div class="pt-3 pb-2 px-1">
                            <div>
                            <img class="img" src="{% static 'images/st3.png' %}" alt="no image" srcset="">

                            </div>
                            <div>
                            <span>Ninja..</span>


                            </div>

                        </div>
                        <div class="pt-3 pb-2 px-1">
                            <div>
                            <img class="img" src="{% static 'images/str6.jpg' %}" alt="no image" srcset="">

                            </div>
                            <div>
                            <span>Johanne</span>


                            </div>

                        </div>
                        <div class="pt-3 pb-2 px-1">
                            <div>
                            <img class="img" src="{% static 'images/str7.jpg' %}" alt="no image" srcset="">

                            </div>
                            <div>
                            <span>Prudence</span>


                            </div>

                        </div>
                        <div class="pt-3 pb-2 px-1">
                            <div>
                            <img class="img" src="{% static 'images/str8.jpg' %}" alt="no image" srcset="">

                            </div>
                            <div>
                            <span>Harienaj..</span>


                            </div>

                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    hellosssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
                </div>
            </div>
        </div>
    </div>
    </div>
</div>



  
{% endblock %}