{% extends "users/base.html" %}
{% load static %}


{% block content %}

<div class="container">
    <div class="myform">
        <div class="card" style="width: 22rem;height: 38rem;">
            <div class="logol">
                <h3 class="text-center">Instagram</h3>
            </div>
            <div class="para">
                <p class="text-muted">Sign up to see photos and <br> videos from your friends.</p>
            </div>
            <div class="fb">
                <button class="btn btn-primary btn-md-7"><span class="iconify" data-icon="uiw:facebook" style="color: white;" data-width="25" data-height="25"></span> Log in with Facebook</button>
            </div>
            <div class="line">
                <hr >
                <hr class="h2">

            </div>
            <div>
                <span class="or">OR</span>
            </div>

            <div class="tform">
                <div>
                <div class="tfield">
                    {{form.email}}
                </div>
                <div class="tfield">
                    {{form.fullname}}
                </div>
                <div class="tfield">
                    {{form.username}}
                </div>
                <div class="tfield">
                    {{form.password1}}
                </div>
            </div>

            </div>
            <div class="details">
                <p class="text-muted text-center">People who use our service may have uploaded <br> your contact information to Instagram. Learn <br> More</p>
            </div>
            <div class="details2">
                <p class="text-muted text-center">By signing up, you agree to our Terms , Data <br> Policy and Cookies Policy .</p>
            </div>
            <div class="signup">
                <button class="btn btn-primary btn-sm" type="submit">Sign up</button>
            </div>

        </div>

    </div>

    <div class="imagecard">
        <div class="card" style="width: 22rem;background-color: #ffffff;">
            <p class="text-center">
                Have an account? 
                <span>
                    <a href="">Log in</a>
                </span>

            </p>
        </div>

    </div>
    
</div>

{% endblock %}