@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    /* font-family: 'Grand Hotel', cursive; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
/*  */

.pagecenter{
    margin-top: 80px;
    
}

#depage{
    margin-top: 50px;
}
.instaheader h3{
    font-family: 'Grand Hotel', cursive;
    font-weight: 600;
    font-size: 40px;
    margin-top: 1em;

}
.form-flex{
    position: relative;
    left: 5%;
}



.group-input input{
    background-color: #FAFAFA;
    width: 80%;
    height: 38px;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid #DBDBDB;

}
.group-input input::placeholder{
    position: relative;
    left: 5px;
}



.btn1{
    display: flex;
    justify-content: center;
}
.btn1 button{
    width: 20em;
}

.hr1{
    margin-left: 14px;
    width: 8em;
}

.or1{
    margin-top: -29px;
}

.hr2{
    width: 8em;
    margin-left: 12.5em;
    margin-top: -27px;
}
.fb1{
    display: grid;
    place-content: center;
    margin-top: 15px;

}
.fb1 a{
    text-decoration: none;
    color: #385185;
    font-weight: 700;
}

.forgot a{
    text-decoration: none;
    color: #385185;
}
.forgot{
    margin-top: 15px;
}

.card22{
    margin-top: 10px;
}
.linka{
    margin-top: 20px;
}

.linka a{
    text-decoration: none;
    font-weight: 700;
}
.get{
    margin-top: 15px;
}







.myform{
    display: grid;
    place-content: center;
    margin-top: 1%;
}

.logol h3{
    font-family: 'Grand Hotel', cursive;
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 2px;
    margin-top: 35px;

}
.para{
    text-align: center;
    font: 1em sans-serif;
    font-weight: 700;
    margin-top: 5px;
}

.fb{
    display: grid;
    place-content: center;

}
.fb button{
    width: 18rem;
    font-weight: 600;
}
hr{
    width: 8rem;
    margin-left: 2rem;
}
.h2{
    margin-left: 12rem;
    margin-top: -1rem;
}
.or{
    text-align: center;
    display: grid;
    place-content: center;
    margin-top: -22px;
}

.form-flex{
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}
.form-flex input{
    width: 80%;
    height: 39px;
    background-color: #FAFAFA;
    border: 1.5px solid #A8A8A8;
    border-radius: 5px;
    color: #A4A4A4;
}
.form-flex input::placeholder{
    position: relative;
    left: 5px;
}

.details{
    font-size: 14px;
    margin-top: 10px;
}
.details2{
    font-size: 14px;
    margin-top: 10px;
}
.signup{
    display: grid;
    place-content: center;

}

.signup button{

    width: 18rem;
    

}
.imagecard{
    display: grid;
    place-content: center;
    margin-top: 11px;


}

.imagecard p{
    
    margin-top: 15px;


}
.play{
    height: 40px;
}
.playimg{
    display: grid;
    place-content: center;
}
.bottom{
    margin-top: 30px;
}

.listdl{
    display: grid;
    place-content: center;

}
.listdl li{
    list-style: none;
    display: inline-block;
    margin-top: 6vh;
   
}

/* profile section */
.image img{
    width: 150px;
    height: 150px;
    background-position: center;
    border-radius: 50%;
}
.profile-section{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.edit-profile{
     display: flex;
    justify-content: center;
}
.edit-profile button{
    background-color: #CED4DA;
    width: 20em;
}
.myprofile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.profile-form{
    display: flex;
    flex-direction: column;
    gap: 2em;
}